<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ar.team.company.app.socialdelete">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsDelete">
        <activity
            android:name="com.ar.team.company.app.socialdelete.ui.activity.show.video.ShowVideoActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.ar.team.company.app.socialdelete.ui.activity.show.image.ShowImageActivity" />
        <activity android:name="com.ar.team.company.app.socialdelete.ui.activity.settings.SettingsActivity" />
        <activity android:name="com.ar.team.company.app.socialdelete.ui.activity.show.chat.ShowChatActivity" />
        <activity
            android:name="com.ar.team.company.app.socialdelete.ui.activity.home.HomeActivity"
            android:label="HomePage" />
        <activity
            android:name="com.ar.team.company.app.socialdelete.ui.activity.applications.ApplicationsActivity"
            android:label="Select Apps" />
        <activity
            android:name="com.ar.team.company.app.socialdelete.ui.activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ar.team.company.app.socialdelete.control.notifications.NotificationListener"
            android:exported="true"
            android:label="@string/whatsapp_notification_listener_service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.ar.team.company.app.socialdelete.control.foreground.ARForegroundService"
            android:enabled="true"
            android:exported="false"
            android:label="SocialDelete Foreground Service" />
    </application>

</manifest>